{% extends "base.html" %}
{% load static %}

{% block title %}Accounts{% endblock %}
{% block stylesheet %} <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">{% endblock %}

{% block content %}
  <div id="content" class="adjusted-width">
    <h3 style="margin-top: 6rem;" class="mb-5">Accounts</h3>
    <div class="d-flex" style="min-width: 1000px">
      <nav aria-label="breadcrumb" class="w-75">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'accounts' %}">My Virtual Accounts</a></li>
          <li class="breadcrumb-item"> </li>
        </ol>
      </nav>
      <button type="button" class="btn btn-primary round-d ml-2" style="height: 48px;" data-toggle="modal" data-target="#exampleModalCenter">
        Add an account
      </button>
    </div>
    {% if not accounts %}
    <div class="mt-5" style="width: 80%; min-width: 800px">
      <div style="margin: auto; text-align: center; color: rgba(10, 10, 10, 0.6)" class="pt-3 pb-0 mb-1 pb-1 pl-4 w-100">Please create a virtual account.</div>
    </div>
    {% else %}
    <ul class="pl-4 mt-3" style="width: 80%; min-width: 800px">
      <li class="d-flex pt-3 pb-0 mb-1 pb-1 pl-4 w-100" style="border-bottom: 2px solid rgba(50, 50, 50, 0.2)">
        <div style="margin-right: 15%">Account Name</div>
        <div style="margin-right: 15%">Balance ($USD)</div>
        <div style="margin-right: 15%">Date Created</div>
        <div></div>
      </li>
    </ul>
    <div class="list-group">
    {% for account in accounts %}
      <div class="d-flex" style="width: 80%; min-width: 800px">
        <a href="{% url 'transaction-history' account.id %}" style="background-color: rgb(251, 252, 254); border: none!important; width: 84%" class="list-group-item list-group-item-action d-flex ml-4 mb-1">
          <div class="pl-2" style="margin-right: 10%">{{account.name}}</div>
          <div style="min-width: 30px; width: 30px"></div>
          <div style="margin-right: 10%">{{account.balance}}</div>
          <div style="min-width: 30px; width: 30px"></div>
          <div style="margin-right: 5%">{{account.date}}</div>
        </a>
        <div style="margin: auto"><i class="fas fa-trash-alt" id="{{account.id}}" style="font-size: 18px"></i></div>
      </div>
    {% endfor %}
    </div>
    {% endif %}
    <div style="height: 50px"></div>






    {% csrf_token %}
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title ml-3" id="exampleModalLongTitle">Add a virtual account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pt-2" style="height: 70px">
            <input id="name" type="text" placeholder="account name..." style="height: 50px" class="w-100 pl-3 mt-1 form-control" name="account-name">
          </div>
          <div id="error" class="alert alert-danger mb-0" style="display: none; width: 95%; margin: 0 auto">You must enter a name</div>
          <div class="modal-footer" style="border: none!important">
            <button type="button" id="add" style="background-color: rgb(45, 96, 255)!important" class="btn btn-primary pl-4 pr-4">Add</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


{% block scripts %}
  <script src="{% static 'js/accounts.js' %}"></script>
{% endblock %}
