{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block stylesheet %} <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">{% endblock %}

{% block content %}
  <div id="content" class="adjusted-width">
    <h3 style="margin-top: 6rem;" class="mb-5">Accounts</h3>
    <div class="d-flex" style="min-width: 1000px">
      <nav aria-label="breadcrumb" class="w-75">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'accounts' %}">My Virtual Accounts</a></li>
          <li class="breadcrumb-item active" aria-current="page">Details</li>
        </ol>
      </nav>
      <button type="button" disabled="true" class="btn btn-primary round-d ml-2" style="height: 48px; background-color: rgb(45, 96, 255)!important" data-toggle="modal" data-target="#exampleModalCenter">
        Add an account
      </button>
    </div>
  </div>
{% endblock %}


{% block scripts %}

{% endblock %}
