{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
  <link rel="stylesheet" href="{% static 'css/transaction_history.css' %}">
  {% endblock %}

{% block content %}
  <div id="content" class="adjusted-width">
    <h3 style="margin-top: 6rem;" account-id="{{account.id}}" class="mb-5">Transaction History</h3>
    <div class="d-flex" style="min-width: 1000px">
      <nav aria-label="breadcrumb" class="w-75">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'accounts' %}">My Virtual Accounts</a></li>
          <li class="breadcrumb-item active" aria-current="page">Transaction History</li>
        </ol>
      </nav>
      <button type="button" disabled="true" class="btn btn-primary round-d ml-2" style="height: 48px; background-color: rgb(45, 96, 255)!important" data-toggle="modal" data-target="#exampleModalCenter">
        Add an account
      </button>
    </div>
    <div class="mt-3 pl-3 round pr-3" style="width: 80%; min-width: 800px; height: 300px; background-color: rgb(255, 255, 255); border: 2px solid rgba(240, 243, 248);">
      <canvas id="myChart" class="p-3"></canvas>
    </div>
    <div class="pl-4 mt-5 mb-4" style="width: 80%; min-width: 800px">
      <h4 style="color: rgba(10, 10, 10, 0.7)">Your Transactions ({{length}})</h4>
    </div>
    <div id="accordion" style="width: 80%; min-width: 800px">
      {% for number, transaction in transactions.items %}
      <div class="card mb-2">
        <div class="card-header" style="background-color: white" id="heading{{transaction.id}}">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed d-flex align-items-center" data-toggle="collapse" data-target="#collapse{{transaction.id}}" aria-expanded="false" aria-controls="collapse{{transaction.id}}">
              <i class="fas {% if transaction.in_progress %}fa-ellipsis-h{% elif transaction.usd_gained > 0 %}green fa-angle-double-up{% elif transaction.usd_gained < 0 %}red fa-angle-double-down{% else %}fa-equals{% endif %} mr-3" style="{% if transaction.in_progress %}font-size: 15px; {% else %}font-size: 25px;{% endif %}"></i><div class="mr-3">Transaction #{{number}}</div> <div>{% if transaction.in_progress%}( in progress... ){% elif transaction.usd_gained > 0 %} (+{{transaction.usd_gained}} USD){% else %}({{transaction.usd_gained}} USD){% endif %}</div>
            </button>
          </h5>
        </div>
        <div id="collapse{{transaction.id}}" class="collapse" aria-labelledby="heading{{transaction.id}}" data-parent="#accordion">
          <div class="card-body d-flex flex-column pb-0 justify-content-around align-items-center" style="height: 200px; color: rgba(10, 10, 10, 0.6)">
            <div id="btc-bought">Bitcoin(s) Bought: {{transaction.btc_bought}} BTC</div>
            <div class="d-flex w-100 justify-content-around h-75">
              <div class="first-div d-flex flex-column justify-content-around">
                <div>Market Buy Price: {{transaction.btc_buy_price}} USD/BTC</div>
                <div class="d-flex align-items-center">Market Sell Price: {% if transaction.in_progress %}<div class="ml-2" style="font-size: 28px">-</div>{% else %}{{transaction.btc_sell_price}} USD/BTC{% endif %}</div>
              </div>
              <div class="second-div d-flex flex-column justify-content-around">
                <div class="d-flex align-items-center">{% if transaction.usd_gained < 0 %}Amount lost: {% else %}Amount earned: {% endif %}{% if transaction.in_progress %}<div class="ml-2" style="font-size: 28px">-</div>{% else %}{{transaction.usd_gained}} USD{% endif %}</div>
                <div>Amount invested: {{transaction.usd_invested}} USD</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div style="height: 70px"></div>
  </div>
{% endblock %}


{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="{% static 'js/transaction_history.js' %}"></script>
{% endblock %}
