.form-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  margin: auto;
}

.form-wrapper > img {
  height: 50%;
/*  border: 1px solid black;*/
  min-width: 600px;
  margin: auto auto auto auto;
  background-color: rgb(255, 234, 244);
}

.form-div {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  align-items: center;
  min-width: 500px;
}

@media only screen and (max-width: 1470px) {
  .form-wrapper > img {
    display: none!important;
  }
}
