.my-container {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0;
}

h3 {
  color: rgba(10, 10, 10, 0.7);
}

#spacer {
  height: 100vh;
  width: 27%;
  min-width: 25rem;
  margin-right: 0!important;
  background-color: rgb(251, 252, 254);
}

#content {
  width: calc(100% - 27%);
  min-width: calc(100%-22rem);
  overflow: scroll;
  height: 100vh;
  margin-left: 0!important;
  background-color: rgb(251, 252, 254);
}

body {
  background-color: rgb(255, 255, 255)
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.big-div {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;

  background-color: rgb(255,255,255)!important;
  border-bottom: none!important;
  border-right: none!important;
  border-left: none!important;
  border-top: 2px solid rgba(240, 243, 248)!important;
  box-shadow-top: 3px 3px 100px rgba(240, 243, 248);;
}

.share {
  width: 80%;
  margin: 0 auto;
  height: 350px;
  background-color: rgb(255, 234, 244);
}

/*.form-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  margin: auto;
}

.form-wrapper > img {
  height: 100%;
  border: 1px solid black;
  min-width: 600px;
  margin: 0 auto;
}*/


.home-font {
  color: rgb(80, 88, 135)!important;
  font-size: 18px;
  font-weight: 530;
}

.fixer {
  background-color: rgb(255,255,255)!important;
  border: none!important;
  text-align: start;
}

/*.form-div {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  align-items: center;
  min-width: 500px;
}*/

/*.login-form-div {
  display: flex;
  flex-direction: column;
  margin: 10rem auto 15% auto;
  padding: 0;
  align-items: center;
  min-width: 500px;
  width: 50%;
}*/

#list {
  color: rgb(80, 88, 135)!important;
  font-size: 18px;
  font-weight: 530;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#list > a {
  color: rgb(80, 88, 135);
}

#list > a:hover {
  text-decoration: none;
  background-color: rgba(238, 245, 255, 0.5);
  color: rgba(57, 106, 255, 0.5)
}

.valid {
  border-color: #3BE2AB!important;
}

p > .login {
  color: rgb(45, 96, 255);
  border: none!important;
}

p > .login:hover {
  border: none!important;
}

#back {
  position: fixed;
  top: 3%;
  left: 5%;
  font-size: 34px;
}


.form-div > img {
  height: 300px;
  width: 400px;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 400px;
}

.form-btn {
  color: white;
  background-color: rgb(45, 96, 255);
  border: none;
}

.form-btn:hover {
/*  color: #282C34;*/
  color: white;
/*  text-shadow: 1px 1px 0px #282C34;*/
}

input {
  border-right: none!important;
  border-top: none!important;
  border-left: none!important;
  color: #282C34;
}

label {
  color: rgba(0, 0, 0, 0.6);!important;
}

#sign-up-form {
  width: 500px;
}

.row {
  margin-bottom: 1rem;
}

label {
  font-size: 16px;
}

.main-title {
  color: rgb(45, 96, 255)!important;
  font-size: 34px;
  text-align: left;
  margin-left: 10%;
  width: 15rem;
}

.main-title:hover {
  border: none!important;
}

.hidden {
  display: none;
}

.fade-height {
  height: 4rem!important;
  transition: all 0.4s;
}

.nav-height {
  height: 5rem!important;

}

.nav-info {
  font-size: 16px!important;
  color: white;
}

.nav-info:hover {
  color: #61DAFB;
}

.grey {
  color: #21232B!important;
}

.no-border-bottom {
  border-bottom: none!important;
}

.fixed-t {
  position: fixed;
  top: 0;
  right: 0;
    /* left: 0; */
  z-index: 3;
}

.vertical-nav {
  min-width: 22rem;
  width: 23%;
  height: 100vh;
  position: fixed;
  top: 1rem;
  left: 1rem;
  box-shadow: 3px 3px 150px rgba(235, 238, 243);
  background-color: rgb(255,255,255);
  z-index: 4;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
  overflow: scroll;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-around;
}

.center > img {
  margin-top: 50px;
  height: 190px;
  margin-bottom: 40px;
}

.center > a {
  flex-shrink: 0;
  text-align: center;
  color: rgb(80, 88, 135)!important;
  font-size: 18px;
  width: 40%;
  height: 35px;
  border: 1px solid white;
  z-index: 2;
  font-weight: 530;
}

.center > a:hover {
  text-decoration: none;
  opacity: 1;
  border: 1px solid white!important;
}

.login-btn {
  text-align: start;
}

.login-div {
  width: 80%;
  margin: 0 auto;
  display: flex;
  height: 5rem;
  align-items: center;
  border: 2px solid rgba(240, 243, 248);
}


.register {
  width: 100%;
  color: rgb(97, 104, 147)!important;
  font-size: 14px;
  text-align: left;
  z-index: 2;
  opacity: 0.7;
}

.register > a {
  color: rgb(97, 104, 147)!important;
  opacity: 1!important;
}



.radius {
  border-radius: 1rem;
}

.border-top-right {
  border-top-right-radius: .25rem;
}

.border-bottom-right {
  border-bottom-right-radius: .25rem;
}

.border-bottom-left {
  border-bottom-left-radius: .50rem;
}

.border-top-left {
  border-top-left-radius: .25rem;
}
/*
/*css to remove boostrap form outline*/
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus,
button:focus {
  box-shadow: inset 0 -1px 0 white;
}

.btn.focus, .btn:focus {
  box-shadow: 0 0 0 0.2rem #fff!important;
}


.hide {
  display: none!important;
}

.toggle:hover {
  cursor: pointer;
}

.alert-success {
  background-color:  #3BE2AB!important;
  opacity: 0.7;
  color: rgba(18, 80, 77, 1)!important;
}

.round {
  border-radius: 1rem;
}

.round-d {
  border-radius: 2rem;
}

/*css to overwrite boostrap loading animation*/
/*.spin {
  animation: spinner-border .99s linear infinite!important;
  border: .25em solid rgba(0, 0, 0, 0.6)!important;
}
*/





