{% extends "base.html" %}
{% load static %}

{% block title %}Charts{% endblock %}
{% block stylesheet %} <link rel="stylesheet" type="text/css" href="{% static 'css/charts.css' %}">{% endblock %}

{% block content %}
  <div id="content" class="adjusted-width">
    <h3 class="ml-3" style="margin-top: 6rem;">Bitcoin Market Price</h3>
    <div class="market_price_div mt-3 mb-3 ml-3 mr-4 round">
      <canvas id="myChart" class="p-3"></canvas>
    </div>
    <div class="ml-3 d-flex mr-4 mt-5 row-rapper">
      <div class="current-price mr-3">
        <h3 class="" style="">Current Price</h3>
        <div class="round mt-4 d-flex flex-column align-items-center">
          <div class="mb-4 mt-4">1 BTC = 10000.0 USD</div>
          <div class="d-flex align-items-center">
            <div class="mr-2" style="font-size: 30px; color: #3BE2AB; font-weight: 500">+13%</div>
            <i class="far fa-thumbs-up pt-3 pb-4" style="font-size: 60px; color: #3BE2AB"></i>
          </div>
          <div class="mt-4" style="color: #3BE2AB; font-weight: 500">A 13% increase in market price.</div>
        </div>
      </div>
      <div class="transaction {% if not request.user.is_authenticated %}disable{% endif %}">
        <h3 class="">Make a Transaction</h3>
        {% if request.user.is_authenticated %}
          <div class="round mt-4"></div>
        {% else %}
          <div class="round mt-4">
            <p style="margin: 7rem auto; width: 60%; text-align: center" class="enable">Please log in to start trading with virtual money.</p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="{% static 'js/socket.js' %}"></script>
{% endblock %}
