{% extends "base_auth.html" %}


{% block title %}Login{% endblock %}

{% block content %}
  <div id="content">
    <div class="nav-height" style="background-color: #282C34!important"></div>
    <div class="fade-height hidden" id="fade-height" style="background-color: #282C34!important"></div>
    <h1>Start Trading for Free.</h1>
    <p>Create your 100% free account and start trading with virtual money.</p>
    <a href="https://docs.djangoproject.com" class="btn btn-primary">Join Now</a>
        <h1>Start Trading for Free.</h1>
    <p>Create your 100% free account and start trading with virtual money.</p>
    <a href="https://docs.djangoproject.com" class="btn btn-primary">Join Now</a>
        <h1>Start Trading for Free.</h1>
    <p>Create your 100% free account and start trading with virtual money.</p>
    <a href="https://docs.djangoproject.com" class="btn btn-primary">Join Now</a>
        <h1>Start Trading for Free.</h1>
    <p>Create your 100% free account and start trading with virtual money.</p>
    <a href="https://docs.djangoproject.com" class="btn btn-primary">Join Now</a>
        <h1>Start Trading for Free.</h1>
    <p>Create your 100% free account and start trading with virtual money.</p>
    <a href="https://docs.djangoproject.com" class="btn btn-primary">Join Now</a>
        <h1>Start Trading for Free.</h1>
    <p>Create your 100% free account and start trading with virtual money.</p>
    <a href="https://docs.djangoproject.com" class="btn btn-primary">Join Now</a>
        <h1>Start Trading for Free.</h1>
    <p>Create your 100% free account and start trading with virtual money.</p>
    <a href="https://docs.djangoproject.com" class="btn btn-primary">Join Now</a>
        <h1>Start Trading for Free.</h1>
    <p>Create your 100% free account and start trading with virtual money.</p>
    <a href="https://docs.djangoproject.com" class="btn btn-primary">Join Now</a>
        <h1>Start Trading for Free.</h1>
    <p>Create your 100% free account and start trading with virtual money.</p>
    <a href="https://docs.djangoproject.com" class="btn btn-primary">Join Now</a>
        <h1>Start Trading for Free.</h1>
    <p>Create your 100% free account and start trading with virtual money.</p>
    <a href="https://docs.djangoproject.com" class="btn btn-primary">Join Now</a>
        <h1>Start Trading for Free.</h1>
    <p>Create your 100% free account and start trading with virtual money.</p>
    <a href="https://docs.djangoproject.com" class="btn btn-primary">Join Now</a>

  </div>
{% endblock %}
