{% extends "base_auth.html" %}
{% load static %}

{% block title %}Sign up{% endblock %}

{% block content %}
  <div class="form-div">
    <img src="" alt="">
    <div>
      <h1 class="mb-3">Sign up to Start Trading.</h1>
      <p class="mb-5" style="font-size: 16px">Create your 100% free account and start trading with virtual money</p>
      <form action="POST" id="sign-up-form">
        <div class="row">
          <div class="col" style="transition: all 0.2s">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control">
            <p class="mt-2 mb-0 alert alert-danger" style="display: none; font-size: 12px; transition: all 0.2s" id="username-feedback"></p>
          </div>
          <div class="col">
            <label for="full-name">Full Name</label>
            <input type="text" id="full-name" name="fullname" class="form-control" >
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control">
          </div>
          <div class="col">
            <label for="phone">Phone Number</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Optional">
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="text" class="form-control" id="password" placeholder="6+ characters">
          <p class="mt-2 mb-0 alert alert-danger" style="display: none; font-size: 12px; transition: all 0.2s" id="password-feedback"></p>
        </div>
        <div class="form-group">
          <label for="confirm">Confirm Password</label>
          <input type="text" class="form-control" id="confirm" disabled="true" placeholder="Please fill out password above">
          <p class="mt-2 mb-0 alert alert-danger" style="display: none; font-size: 12px; transition: all 0.2s" id="confirm-feedback"></p>
        </div>
        <div class="d-flex align-items-center">
          <button type="submit" class="btn form-btn">Create an account</button>
          <p class="mt-0 mb-0 ml-3" style="font-size: 16px">Already a member? <a href="{% url 'login' %}" class="login">Login.</a></p>
        </div>
      </form>
    </div>
  </div>
  <script src="{% static 'js/auth.js' %}"></script>
{% endblock %}
