{% extends "base_auth.html" %}
{% load static %}

{% block title %}Sign up{% endblock %}

{% block content %}
  <div class="form-div p-5 radius">
    <img src="" alt="">
    <div>
      {% csrf_token %}
      <h1 class="mb-3">Sign up to Start Trading.</h1>
      <p class="mb-5" style="font-size: 16px">Create your 100% free account and start trading with virtual money</p>
      {% include '../helpers/messages.html/' %}
      <form action="{% url 'register' %}" id="sign-up-form" method="POST">
        <div class="row">
          <div class="col" style="transition: all 0.2s">
            <label for="username">Username</label>
            <div class="spinner-border spinner-border-sm ml-2 hide" id="username-load" style="animation: spinner-border .99s linear infinite!important; border-color: rgba(0, 0, 0, 0.6); border-right-color: transparent!important" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <input type="text" id="username" name="username" class="form-control">
            <p class="mt-2 mb-0 alert alert-danger" style="display: none; font-size: 12px; transition: all 0.2s" id="username-feedback"></p>
          </div>
          <div class="col">
            <label for="full-name">Full Name</label>
            <input type="text" id="full-name" name="fullname" class="form-control" >
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="email">Email</label>
            <div class="spinner-border spinner-border-sm ml-2 hide" id="email-load" style="animation: spinner-border .99s linear infinite!important; border-color: rgba(0, 0, 0, 0.6); border-right-color: transparent!important" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <input type="email" id="email" name="email" class="form-control">
            <p class="mt-2 mb-0 alert alert-danger" style="display: none; font-size: 12px; transition: all 0.2s" id="email-feedback"></p>
          </div>
          <div class="col">
            <label for="phone">Phone Number</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Optional">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="d-flex">Password <div class="toggle ml-1" id="toggle">(show)</div></label>
          <input type="password" class="form-control" name="password" id="password" placeholder="6+ characters">
          <p class="mt-2 mb-0 alert alert-danger" style="display: none; font-size: 12px; transition: all 0.2s" id="password-feedback"></p>
        </div>
        <div class="form-group">
          <label for="confirm">Confirm Password</label>
          <input type="password" class="form-control" id="confirm" name="confirm" placeholder="Please fill out password above">
          <p class="mt-2 mb-0 alert alert-danger" style="display: none; font-size: 12px; transition: all 0.2s" id="confirm-feedback"></p>
        </div>
        <div class="d-flex align-items-center mt-4">
          <button type="submit" id="submit" class="btn form-btn" disabled>Create an account</button>
          <p class="mt-0 mb-0 ml-3" style="font-size: 16px">Already a member? <a href="{% url 'login' %}" class="login">Login.</a></p>
        </div>
      </form>
    </div>
  </div>
  <script src="{% static 'js/auth.js' %}"></script>
{% endblock %}
